<!DOCTYPE html>
<html>
<head>
    <title>Parent Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Select a Child</h1>
        {% for child in children %}
            <button class="child-button" onclick="location.href='{{ url_for('main.manage_chores', child_id=child['id']) }}'">
                {{ child['name'] }}
            </button>
        {% endfor %}
        <h2>Children's Net Earnings</h2>
        <div class="chart-container">
            <canvas id="myChart" width="400" height="100"></canvas>
        </div>
    
        <h2>Chore Completion in Last 30 Days</h2>
        <div class="chart-container">
            <canvas id="completedChoresTimelineChart" width="400" height="200"></canvas>
        </div>
        
        <a href="{{ url_for('main.settings') }}" class="button-link">Settings</a>
        
        <h2>Earnings, Expenses, and Deductions Breakdown</h2>
        <div class="chart-container">
            <canvas id="earningsExpensesChart" width="400" height="200"></canvas>
        </div>
    </div>
    <!-- Include Chart.js and the plugin -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <!-- Pass data to scripts.js -->
    <script>
        const earningsData = {{ earnings | tojson | safe }};
        const choreTimelineData = {{ chore_timeline | tojson | safe }};
        const earningsExpensesData = {{ expenses | tojson | safe }};
    </script>
    <!-- Include external scripts.js -->
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>