<!DOCTYPE html>
<html>
<head>
    <title>Parent Dashboard</title>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container">
        <h1>Select a Child</h1>
        {% for child in children %}
            <button class="child-button" onclick="location.href='{{ url_for('manage_chores', child_id=child['id']) }}'">
                {{ child['name'] }}
            </button>
        {% endfor %}
        <h2>Children's Net Earnings</h2>
        <canvas id="myChart" width="400" height="100"></canvas>
        
        <h2>Earnings Over Time</h2>
        <canvas id="lineChart" width="400" height="100"></canvas>

        <a href="{{ url_for('settings') }}" class="button-link">Settings</a>
        <a href="{{ url_for('home') }}" class="button-link">Home</a>
    </div>

    <script>
        // Data for bar chart
        const categories = {{ earnings|map(attribute='name')|list|safe }};
        const values = {{ earnings|map(attribute='total_earned')|list|safe }};

        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: categories,
                datasets: [{
                    label: 'Net Earnings ($)',
                    data: values,
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                indexAxis: 'y',
                scales: {
                    x: {
                        beginAtZero: true,
                        max: 100
                    }
                },
                barThickness: 25,
                plugins: {
                    legend: {
                        display: false
                    }
                }
            }
        });

        // Data for line chart
        const lineCtx = document.getElementById('lineChart').getContext('2d');
        const lineChart = new Chart(lineCtx, {
            type: 'line',
            data: {
                labels: {{ dates|tojson }},
                datasets: [{
                    label: 'Total Earnings Over Time ($)',
                    data: {{ earnings_data|tojson }},
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1,
                    fill: true
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    legend: {
                        display: true
                    }
                }
            }
        });
    </script>
</body>
</html>
